{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign up{% endblock title %}

{% block content %}

  {% if user.is_authenticated %}
    <p class="already-logged-message">Already logged in. <a href="{% url 'logout' %}">Want to log out?</a></p>
  {% else %}
  <div class="sign-form">
    <div class="switch-buttons">
        <a
            id="switch-login-button"
            class="switch-buttons__button"
            href="{% url 'login' %}"
        >
            Sign In
        </a>
        <a
            id="switch-register-button"
            class="switch-buttons__button switch-buttons__button_chosen"
            href="{% url 'signup' %}" 
        >
            Register
        </a>
    </div>
    <form
        id="signup-form"
        class="signup"
        method="post"
        enctype="multipart/form-data"
    >
        <p>Please, sign up first by entering username and password.</p>
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn signup__btn" type="submit">
            Sign In
        </button>
    </form>
  </div>
  {% endif %}

{% endblock %}