{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Home page{% endblock title %}

{% block content %}

  <div>
    <h4>Create room</h4>
    <form id="create-room-form" class="create-room" method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn" type="submit" value="Create" />
    </form>
  </div>

  <div>
    <h4>Join room</h4>
    <form id="join-room-form" class="join-room" method="POST">
      {% csrf_token %}
      <input id="room" type="text" name="room_code" required /> 
      <input class="btn" type="submit" value="Join" />
    </form>
  </div>

{% endblock content %}