{% extends 'layout/base.html' %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="home">
    <img class="responsive-image" src="/static/images/sharedmusic.svg">
    <p class="home-message">
      Shared music is a place where you can easily create rooms and listen your favorite tracks with others by sharing the link. <br>
      Create room by clicking the button or ask someone to share the link.
    </p>
    <form id="create-room-form" class="create-room" method="POST">
      {% csrf_token %}
      {{ form }}
      <input class="btn home-button" type="submit" value="Create room" />
    </form>
</div>
{% endblock content %}