{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Room{% endblock title %}

{% block content %}
<div class="loading">
    <div class="lds-ripple"><div></div><div></div></div>
    <div class="loading__message">If loading takes too long, try refreshing the page.</div>
    <div class="loading__error"></div>
</div>
<div class="content hidden">
    <div id="mute-msg">
        <p>Player is currently muted. Click anywhere to unmute it.</p>
    </div>
    <div class="room-name">
        <h1 class="room-title"> {{ room.host }}'s room </h1>
        <button onclick="copyLinkToClipboard(this)" class="btn">Copy link</button>
    </div>
    <div class="lobby">
        <div class="perms-container">
            <div id="room" room_code="{{ room.id }}"></div>
            <div id="host" host_username="{{ room.host.username }}"></div>
            <div id="user" username="{{ user.username }}"></div>
            <h6 style="font-weight: bold;">Greetings, {{ user.username }}</h6>
            <div class="chat"></div>
            <div class="chat-input">
                <input id="chat-field" type="text" placeholder="Enter message"/>
                <button class="btn" onclick="sendMessage()">Send</button>
            </div>
        </div>
        <div class="playlist-container">
            <h6>Playlist:</h6>
            <div class="playlist"></div>
            <div class="playlist-input">
                <input id="url-field" type="text" placeholder="Enter youtube url"/>
                <button class="btn" onclick="addTrack()">Add track</button>
                <div class="playlist-error"></div>
            </div>
        </div>
        <div class="users-container">
            <h4>Online users:</h4>
            <ul id="users-list">
            </ul>
            <a href="javascript:void(0)" onclick="showModal()">View permissions</a>
        </div>
    </div>
    <!--Youtube-->
    <div id="player" style="display: none; visibility: hidden;"></div>
    <!--Player-->
    <div class="audio-player">
        <div class="timeline">
            <div class="progress-tooltip"></div>
            <div class="progress"></div>
        </div>
        <div class="controls">
            <div class="play-container">
                <i onclick="backward()" class="fa-solid fa-backward-step control-button"></i>
                <div class="toggle-play play"></div>
                <i onclick="forward()" class="fa-solid fa-forward-step control-button"></i>
            </div>
            <div class="volume-container">
                <div class="volume-button">
                    <div class="volume icono-volumeMedium"></div>
                </div>
                <input class="volume-slider" type="range" min="0" max="100" step="1">
            </div>
            <div class="time">
                <div class="current">0:00</div>
                <div class="divider">/</div>
                <div class="length"></div>
            </div>
            <i onclick="changeLoop()" class="fa-solid fa-arrow-rotate-left repeat-btn"></i>
            <div class="name">
                <img class="thumb" src="" width="45" height="45" hidden>
                <div class="title"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/socket.js' %}"></script>
    <script src="{% static 'js/utility.js' %}"></script>
    <script src="{% static 'js/users.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
    <script src="{% static 'js/player.js' %}"></script>
    <script src="{% static 'js/playlist.js' %}"></script>
    <script src="{% static 'js/permissions.js' %}"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
{% endblock scripts %}