{% extends "layout/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign in{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
    <p>Already logged in</p>
  {% else %}
  <div class="sign-form">
    <div class="switch-buttons">
        <button
            id="switch-login-button"
            class="switch-buttons__button switch-buttons__button_chosen"
            onclick="switchFormToSignIn()"
        >
            Sign In
        </button>
        <button
            id="switch-register-button"
            class="switch-buttons__button"
            onclick="switchFormToRegister()"
        >
            Register
        </button>
    </div>
    <form
        id="login-form"
        class="login"
        method="POST"
        action="#"
    >
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn login__btn" type="submit">
            Sign In
        </button>
    </form>
</div>
     <!-- <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" name="next" value="{{ next }}" />
        <input class="btn btn-primary" type="submit" value="Log in" />
      </form>
    </p> 
    <p><a href="{% url 'signup' %}">Sign up</a></p> -->
  {% endif %}

{% endblock content %}