.audio-player {
    height: 50px;
    width: 100%;
    background: #444;
    box-shadow: 0 0 20px 0 #000a;
    font-family: arial;
    color: white;
    font-size: 0.75em;
    overflow: hidden;
    display: grid;
    grid-template-rows: 6px auto;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.audio-player .timeline {
    background: white;
    width: 100%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
}
.audio-player .timeline .progress {
    background: coral;
    width: 0%;
    height: 100%;
    transition: 0.25s;
}
.audio-player .controls {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0 20px;
    overflow: hidden;
}
.audio-player .controls > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-player .controls .toggle-play {
    margin-left: 30px;
    margin-right: 20px;
}

.control-button {
    color: #e0e0e0;
    cursor: pointer;
}

.control-button:hover {
    transform: scale(1.1);
}

.audio-player .controls .toggle-play.play {
    cursor: pointer;
    position: relative;
    left: 0;
    height: 0;
    width: 0;
    border: 7px solid #0000;
    border-left: 13px solid #e0e0e0;
}
.audio-player .controls .toggle-play.play:hover {
    transform: scale(1.1);
}
.audio-player .controls .toggle-play.pause {
    height: 15px;
    width: 20px;
    cursor: pointer;
    position: relative;
}
.audio-player .controls .toggle-play.pause:before {
    position: absolute;
    top: 0;
    left: 0px;
    background: #e0e0e0;
    content: "";
    height: 15px;
    width: 3px;
}
.audio-player .controls .toggle-play.pause:after {
    position: absolute;
    top: 0;
    right: 8px;
    background: #e0e0e0;
    content: "";
    height: 15px;
    width: 3px;
}
.audio-player .controls .toggle-play.pause:hover {
    transform: scale(1.1);
}
.audio-player .controls .time {
    display: flex;
    margin-left: 30px;
}
.audio-player .controls .time > * {
    padding: 2px;
}
.audio-player .controls .volume-container {
    position: relative;
    z-index: 2;
    margin-left: 30px;
    transition: 0.3s;
}
.audio-player .controls .volume-container .volume-button {
    height: 26px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.audio-player .controls .volume-container .volume-button .volume {
    transform: scale(0.7);
}
.audio-player .controls .volume-container .volume-slider {
    width: 0;
    height: 15px;
    box-shadow: 0 0 20px #000a;
    transition: width 0.3s;
    cursor: pointer;
}

.audio-player .controls .volume-container:hover .volume-slider {
    width: 120px;
}

.name .thumb {
    margin-right: 10px;
}
.name {
    margin-left: auto;
    margin-right: 30px;
}

input[type="range"] {
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#ff4500, #ff4500);
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0;
    width: 0;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 0;
    width: 0;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 0;
    width: 0;
}

/* Input Track */
input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type="range"]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.progress-tooltip {
    position: fixed;
    bottom: 60px;
    opacity: 0;
}

.audio-player .timeline:hover .progress-tooltip {
    opacity: 1;
}

.repeat-btn {
    border: none;
    background-color: inherit;
    margin-left: 30px;
    cursor: pointer;
    color: #e0e0e0;
}

.repeat-active {
    color: var(--primary-color);
}
