.audio-player {
    height: 50px;
    width: 100%;
    background: #444;
    box-shadow: 0 0 20px 0 #000a;
    font-family: arial;
    color: white;
    font-size: 0.75em;
    overflow: hidden;
    display: grid;
    grid-template-rows: 6px auto;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.audio-player .timeline {
    background: white;
    width: 100%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
}
.audio-player .timeline .progress {
    background: coral;
    width: 0%;
    height: 100%;
    transition: 0.25s;
}
.audio-player .controls {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0 20px;
}
.audio-player .controls > * {
    display: flex;
    justify-content: center;
    align-items: center;
}
.audio-player .controls .toggle-play.play {
    cursor: pointer;
    position: relative;
    left: 0;
    height: 0;
    width: 0;
    border: 7px solid #0000;
    border-left: 13px solid white;
}
.audio-player .controls .toggle-play.play:hover {
    transform: scale(1.1);
}
.audio-player .controls .toggle-play.pause {
    height: 15px;
    width: 20px;
    cursor: pointer;
    position: relative;
}
.audio-player .controls .toggle-play.pause:before {
    position: absolute;
    top: 0;
    left: 0px;
    background: white;
    content: "";
    height: 15px;
    width: 3px;
}
.audio-player .controls .toggle-play.pause:after {
    position: absolute;
    top: 0;
    right: 8px;
    background: white;
    content: "";
    height: 15px;
    width: 3px;
}
.audio-player .controls .toggle-play.pause:hover {
    transform: scale(1.1);
}
.audio-player .controls .time {
    display: flex;
    margin-left: 30px;
}
.audio-player .controls .time > * {
    padding: 2px;
}
.audio-player .controls .volume-container {
    cursor: pointer;
    position: relative;
    z-index: 2;
    margin-left: 30px;
    transition: 0.3s;
}
.audio-player .controls .volume-container .volume-button {
    height: 26px;
    display: flex;
    align-items: center;
}
.audio-player .controls .volume-container .volume-button .volume {
    transform: scale(0.7);
}
.audio-player .controls .volume-container .volume-slider {
    position: absolute;
    left: 20px;
    top: 15px;
    z-index: -1;
    width: 0;
    height: 15px;
    background: white;
    box-shadow: 0 0 20px #000a;
    transition: 0.3s;
}
.audio-player .controls .volume-container .volume-slider .volume-percentage {
    background: coral;
    height: 100%;
    width: 50%;
}
.audio-player .controls .volume-container:hover {
    margin-right: 120px;
}
.audio-player .controls .volume-container:hover .volume-slider {
    left: 36px;
    width: 120px;
}

.name .thumb {
    margin-right: 10px;
}
.name {
    margin-left: auto;
    margin-right: 30px;
}
