/* Room */
.lobby {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 60px;
}

.room-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 90px;
}

.room-title__name {
    font-size: 1.6rem;
}

.room-title .btn {
    margin-left: 20px;
}

/* Loading animation */
.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading__animation {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loading__animation div {
    position: absolute;
    border: 4px solid var(--primary-color);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading__animation div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.loading__error {
    color: red;
}