:root {
    --main-bg-color: #1b252f;
    --sidebar-bg-color: rgba(17, 24, 39);
    --primary-color: rgb(173, 33, 33);
    --primary-color-hover: rgb(109, 20, 20);
    /* Scrollbar variables */
    --scrollbarBG: rgba(255, 255, 255, 0.8);
    --scrollbarThumb: rgb(173, 33, 33);
    --scrollbarWidth: 10px;
    --scrollbarBorder: 3px solid var(--scrollbarThumb);
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}

* {
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--scrollbarThumb) var(--scrollbarBG);
}
*::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}
*::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
    border-radius: var(--scrollbarBorderRadius);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6;
    font-family: "open sans", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
}

input[type="text"],
input[type="password"],
input[type="email"] {
    color: black;
    border-radius: 7px;
    height: 50px;
    padding: 0 15px;
}

.btn {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}

.btn:hover {
    background-color: var(--primary-color-hover);
    border: 1px solid var(--primary-color-hover);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    opacity: 0;
    background-color: rgba(17, 24, 39, 0.2);
    cursor: pointer;
    pointer-events: none;
    backdrop-filter: blur(4px);
    transition-duration: 0.3s;
}

.blur {
    opacity: 1;
    pointer-events: all;
}

.lobby {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 60px;
}

#mute-msg {
    position: fixed;
    bottom: 60px;
    right: 0;
    padding: 0 5px;
    background-color: var(--primary-color);
}

#toast-container > div {
    width: 400px;
}

/* Sidebar */
.sidebar {
    background-color: var(--sidebar-bg-color);
    width: 250px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 70px;
    z-index: 10;
    transition: 0.3s;
    position: fixed;
    top: 0;
    left: -250px;
    overflow-x: hidden;
}

.sidebar__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-decoration: none;
    text-align: center;
}

.sidebar__link p {
    margin-left: 15px;
}

.sidebar__link:hover {
    background-color: var(--primary-color-hover);
}

.sidebar__link_logout {
    margin-top: 20px;
    background-color: var(--primary-color);
}

.sidebar__closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    text-decoration: none;
}

.openbtn {
    border: none;
    max-width: 30px;
    background-color: var(--main-bg-color);
    position: fixed;
    top: 50px;
    left: 50px;
    cursor: pointer;
}

.user-data {
    margin-top: auto;
    margin-bottom: 50px;
    text-align: center;
}

/* Sign In / Register */
.switch-buttons {
    display: flex;
}

.switch-buttons__button {
    width: 50%;
    padding: 20px 0;
    border: none;
    background-color: var(--main-bg-color);
    text-align: center;
    text-decoration: none;
}

.switch-buttons__button_chosen {
    border-bottom: 4px solid var(--primary-color);
}

.sign-form {
    width: 50%;
    border: 1px solid white;
    margin: 30px auto;
    padding: 20px;
}

.login,
.signup {
    display: flex;
    flex-direction: column;
}

.login__btn,
.signup__btn {
    margin-bottom: 10px;
    margin-top: 50px;
}

.login .control-group,
.signup .control-group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.login .control-group .controls input,
.signup .control-group .controls input {
    width: 100%;
}

.already-logged-message {
    text-align: center;
    margin-top: 30px;
}

.help-block,
.help-block + ul li {
    font-size: 1rem;
    color: lightgray;
    margin-top: 5px;
}

.help-block strong {
    color: red;
}

.alert ul li {
    color: red;
    margin-top: 10px;
}

/* Room */
.room-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin-bottom: 50px;
    margin-top: 30px;
}

.room-name .btn {
    margin-left: 20px;
}

#users-list {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: auto;
}

#users-list li {
    display: flex;
    align-items: center;
}

#users-list li .username {
    margin-right: 10px;
}

.users-container {
    margin-bottom: 30px;
    max-width: 325px;
}

.online {
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
    flex-shrink: 0;
}

.offline {
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    flex-shrink: 0;
}

.username {
    margin-left: 8px;
}

/* Playlist */
.playlist {
    max-height: 50vh;
    overflow-y: auto;
}

.playlist-error {
    color: red;
    margin-top: 5px;
}

.playlist__track {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-right: 20px;
}

.track__title {
    margin: 0 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 30vw;
}

.track__title::before {
    background: black;
    border-radius: 8px 8px 8px 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: white;
    content: attr(data-title);
    margin-top: -40px;
    opacity: 0;
    padding: 3px 7px;
    position: absolute;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}

.track__title:hover::before {
    opacity: 1;
    visibility: visible;
}

.track__playButton {
    order: -1;
    transition: ease-in-out 0.2s;
    display: flex;
    place-items: center;
    cursor: pointer;
    padding: 15px;
    background: #efeeee;
    border-radius: 50%;
    border: none;
}
.track__playButton .fas {
    display: flex;
    place-items: center;
    font-size: 15px;
    color: gray;
}

.track__playButton_active .fas {
    color: var(--primary-color);
}

.track__deleteButton {
    order: 1;
    background: var(--primary-color);
    transition: ease-in-out 0.2s;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    place-items: center;
    margin-left: auto;
}

.track__deleteButton:hover,
.track__playButton:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 0 99999px rgba(0, 0, 0, 0.2);
}

.playlist-input {
    margin-top: 20px;
    margin-bottom: 50px;
}

/* Home */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-message {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 50px;
}

.home-button {
    font-size: 1.8rem;
}

/* Loading animation */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid var(--primary-color);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading__error {
    color: red;
}

.perms-menu {
    width: 600px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.grid-wrapper:first-child {
    margin-bottom: 10px;
}
